
<% if current_user %>
	<div class="table">
	  <table class="table table-striped col-xs-10">
	    <thead>
	        <tr>
	            <th>Category</th>
	            <th>
	            	Sunday
	            </th>
	            <th>
	            	Monday
	            </th>
	            <th>
	            	Tuesday
	            </th>
	            <th>
	            	Wednesday
	            </th>
	            <th>
	            	Thursday
	            </th>
	            <th>
	            	Friday
	            </th>
	            <th>
	            	Saturday
	            </th>
	        </tr>
	        <tr>
	            <th>Points</th>
	            <th>
	            	sum
	            </th>
	            <th>
	            	sum
	            </th>
	            <th>
	            	sum
	            </th>
	            <th>
	            	sum
	            </th>
	            <th>
	            	sum
	            </th>
	            <th>
	            	sum
	            </th>
	            <th>
	            	sum
	            </th>
	        </tr>
	    </thead>
	    <tbody>  
	    	
	    </tbody>
	  </table>
	</div>
<% else %>

<% end %>