body{
	background-color: #87B7ED;
}

.top-nav {
  background-color:#4E09B5;
  border-bottom-color: #0A0117;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
}

.brand a {
  color: #C4B4DB;
  font-size: 50px;
  text-align: left;
}


.top-nav .add a {
  font-weight: bold;
  color: #9578BF;
  font-size: 16px;
  text-align: right;
}

.top-nav .add {
  margin-top:15px;
  margin-right: 25px;
  text-align: right;
  color: #9578BF;
}

.top-nav .new_items {
  margin-top:15px;
  padding-left: 50px;
  text-align: left;
}

.top-nav .new_items a {
  font-weight: bold;
  color: #9578BF;
  font-size: 16px;
  text-align: left;
  vertical-align: center;
}











