@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,700);



body{
	background-color: #C1BDC7;
}

.top-nav {
  background-color:#48474A;
  border-bottom-color: #0A0117;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
}

.brand a {
  color: #7B3ED6;
  font-size: 50px;
  text-align: left;
  font-family: 'Dosis', sans-serif, bold;
}


.top-nav .add a {
  font-weight: bold;
  color: #9578BF;
  font-size: 16px;
  text-align: right;
  font-family: 'Inconsolata';
}

.top-nav .add {
  margin-top:15px;
  margin-right: 25px;
  text-align: right;
  color: #9578BF;
}

.top-nav .new_items {
  margin-top:15px;
  padding-left: 50px;
  text-align: left;
}

.top-nav .new_items a {
  font-weight: bold;
  color: #9578BF;
  font-size: 16px;
  text-align: left;
  vertical-align: center;
  font-family: 'Inconsolata';
}
.landing_page_title {
	font-weight: bold;
	text-align: center;
	font-family: 'Dosis', sans-serif, bold;
	color: #5D04CC;
    font-size: 70px;

}

.landing_page_byline {
	font-weight: bold;
	text-align: center;
	font-family: 'Inconsolata';
}

.landing_page_exp {
	font-weight: bold;
	text-align: center;
	font-family: 'Inconsolata';
	margin-left: 25px;
	margin-right: 25px;
}

.landing_page_singoff {
	font-weight: bold;
	text-align: center;
	font-family: 'Inconsolata';
}










