.top-nav {
  background-color:white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
}

.brand {
  color: #125688;
  font-size: 30px;
  margin-left: -60px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
}

.top-nav .add {
  margin-top:10px;
  margin-right: -50px
}